# Compiled Python files
*.py[cod]
*.step
# C extensions
*.so

# OS litter
.DS_Store
Desktop.ini
._*
Thumbs.db
.Trashes
.Spotlight-V100

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
